body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.flag {
    width: 450px;
    height: 300px;
    border: 2px solid black;
}

.saffron {
    height: 100px;
    background-color: #FF9933;
}

.white {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    height: 100px;
    background-color: #138808;
}

.chakra {
    width: 70px;
    height: 70px;
    border: 4px solid navy;
    border-radius: 50%;
}
