body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #34495e;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

section {
    padding: 40px;
    text-align: center;
}

.about {
    background-color: white;
}

.services {
    background-color: #ecf0f1;
}

.card {
    display: inline-block;
    width: 250px;
    background-color: white;
    margin: 15px;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}

.contact {
    background-color: white;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}
