*{
padding:0px;
margin:0px;
box-sizing: border-box;}
.body{
    background-color: rgb(22, 25, 44);
    font-size: 40px;
}

.container{
    display: grid;
    height: 800px;
    width:800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 6px;
}
.Box{
    color:wheat;
}
.Header{
    grid-row: 1/4;
    background-color: rgb(24, 63, 63);
}
.Sidebar{
    grid-column: 2/4;
    background-color: rgb(85, 22, 63);
}
.Content4{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: darkorange;
}
.Content1{
    background-color: dodgerblue;
}
.Content2{background-color: rgb(63, 194, 40);

}
.Content3{
    background-color: rgb(235, 147, 148);
}
.Content4{
    background-color: rgb(185, 185, 237);
}
.Content5{
    background-color: rgb(239, 180, 211);
}
.Footer{
    background-color: rgb(160, 247, 214);
}