*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: black;
}
.container{
    display:grid;
    height:400px;
    width:400px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}
.white{
    background-color: white;
}
.brown{
    background-color: burlywood;
}