.head{
  box-shadow: 1px 2px 10px rgb(196, 195, 195);

  border-radius: 10px;
  padding:5px 10px 50px 10px;
  width: auto;
  height: 180px;
}
.data{
  display: flex;
  margin: 10px;
}
.std{
  padding-left: 50px;
}
img{ height: 150; width: 150px;
  border-radius: 50% ;
  border-style: solid;
  border-color:rgb(102, 102, 251);
   width:140px;
   height:140px;
   box-shadow: 0px 2px 8px
 rgb(1, 1, 1); 
}

.info{ padding: 10px 10px 10px 10px;
  margin-top: 40px;
  width:auto;
  border-radius: 10px;
  box-shadow:0px 4px 10px  rgb(183, 178, 178);

}
table{ 
  border-collapse:collapse;
  width:100%;
}
td{ border: 1px solid;}
tr{ border: 1px solid;}
.sklit{
  box-shadow:0px 4px 10px  rgb(203, 200, 200);
  border-radius: 10px;
  padding:10px 10px 10px 20px ;
  margin-top: 40px;
}
.heading{ color: rgb(102, 102, 251);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.cpr{text-align: center;
opacity: 30%;
font-family: "Roboto", sans-serif;
  font-optical-sizing: auto; 
}