* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.ebay98{
    display: flex;
    align-items: center;
    margin-left:-4px;
    margin-right: 40px;
    margin-top: -35px;
    margin-bottom: -11px;
    
   
  
}

   

.e{
    color:#E53238;
    font-size: 80px;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
.b{color: #0064D2;
    font-size: 80px;
    margin-left: -8px;
    font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    

}
.a{
    color: #F5AF02;
    font-size: 80px;
     margin-left: -8px;
     font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.y{
color: #86B817;
    font-size: 80px;
     margin-left: -8px;
     font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
    
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: #420608;
}

.search-box {
    display: flex;
    width: 50%;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

.search-box button {
    padding: 8px 16px;
    background-color: #3665f3;
    color: white;
    border: none;
    cursor: pointer;
}

.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}


.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background-color: #f8f8f8;
}

.categories a {
    text-decoration: none;
    color: #f4f6f5;
    font-size: 14px;
}


.banner {
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px 20px;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner button {
    margin-top: 15px;
    padding: 10px 25px;
    background-color: #e53238;
    color: white;
    border: none;
    cursor: pointer;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;
}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 100%;
}

.product-card h3 {
    margin: 10px 0;
}

.product-card p {
    color: rgb(2, 93, 2);
    font-weight: bold;
}
.linking{
  margin-left: 10px; 
  margin-top: 30px; 
  color: #ddd;
 

}

footer{
    background-color: #333;
    text-align: center;
    padding: 15px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
}
