.block a{
    display: block;
    background-color: rgb(57, 116, 235);
    color: white;
    text-decoration: none;
    margin:2px 0px;
    padding: 5px;
}
.inline a{
    display: inline;
    background-color: rgb(17, 195, 58);
    color: white;
    text-decoration:none;
    margin: 0px 10px;
    padding: 5px;
}
.inline-block a{
    display: inline-block;
    background-color: rgb(117, 2, 224);
    color: white ;
     text-decoration: none;
    margin: 0 10px;
    padding:  5px;
}
.float a{
    display:float;
    background-color: rgb(239, 138, 16);
    color:white;
    text-decoration: none;
    margin:0px 9px;
    padding: 5px;

}
 